@model EntityDataBases.Storage.Entity.Order
@{
    Layout = "~/Views/Shared/AddOrUpdate.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateOrder</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Update", "Order", FormMethod.Post))
        {
            <input id="OrderId" name="OrderId" type="hidden" value="@Model.Id" />
            <div class="row">
                <div class="col-25">
                    <label>Номер заказа: </label>
                </div>
                <div class="col-75">
                    <input type="text" required id="OrderNumber" name="OrderNumber" value="@Model.OrderNumber" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Дата заказа: </label>
                </div>
                <div class="col-75">
                    <input type="datetime" required id="OrderTime" name="OrderTime" value="@Model.OrderTime" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Заказчик: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="Client" required name="Client" value="@Model.Client" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Склад: </label>
                </div>
                <div class="col-75">
                    <select required name="StorageId">
                        @foreach (var item in ViewBag.Storages)
                        {
                            <option value="@item.Id">@item.StorageNumber</option>
                        }
                    </select>
                </div>
            </div><br />
            <div class="row">
                <input type="submit" value="Редактировать заказ" />
            </div><br />
        }
        @using (Html.BeginForm("ShowOrders", "Order", FormMethod.Get))
        {
            <div class="row">
                <input type="submit" value="Отмена" />
            </div>
        }
    </div>
</body>
</html>
